.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #09d3ac;
  }

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  
.bullets {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;  
  }
  
.add-b {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;  
      margin: auto;
      width: 75%;
      border: 3px solid black;
      padding: 10px;
  }

.add-b-form {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;  
      margin-right: auto;
      margin-left: auto;
      padding: 10px;
      width: 450px;
      text-align: center;
      align-items: center;
      align-content: center;
      
  }

  .Actions{    
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
    text-align: center;
    float:left; width: 50%
  }

  .card-ac {
    margin-right: 10px;
    padding: 10px
  }

  .Assets{    
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
    text-align: center;
    float:right; 
    padding: 20px
  }